.nav--main {
    position: fixed;
    top: 0;
    left: 0;
    @include adjust-font-size-to(ms(2, $base-font-size));

    .hide {
        position: relative;
        overflow: hidden;
        left: -9999em;
    }
}

.nav__links {
    margin: 0px;
}

.icon--home {
    display: inline-block;
    transform: translate(0, 0);
    width: 3rem;
    height: 3rem;
    background-image: url('/icons/home.svg');
    background-size: cover;
}

.midnightHeader.default,
.midnightHeader.header-night {
    .icon--home {
        background-image: url('/icons/home-light.svg');
    }
}

.midnightHeader.header-morning,
.midnightHeader.header-evening {
    .icon--home {
        background-image: url('/icons/home-light.svg');
    }
}

.midnightHeader.body {
    .icon--home {
        background-image: url('/icons/home.svg');
    }
}
