$text-color: hsla(0, 0%, 0%, 1.00);
$text-color-light: lighten($text-color, 20%);
$text-color-x-light: lighten($text-color, 40%);

$accent-pink: hsl(304, 78.3%, 81.6%);
$accent-purple: hsl(260, 83.8%, 75.4%);
$accent-blue: hsl(238, 49.5%, 52.4%);
$accent-yellow: hsl(34, 65.1%, 54.2%);
$accent-burgundy: hsl(7, 46%, 10.3%);
