footer {
    margin-top: rhythm(3, ms(0, $base-font-size));
    margin-bottom: rhythm(1, ms(0, $base-font-size));
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include container($sitewidth + 4rem);
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}
