footer {
    margin-top: rhythm(3, ms(0, $base-font-size));
    margin-bottom: rhythm(1, ms(0, $base-font-size));
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    @include site-wide-thing;
    text-align: center;
}
