.page-header {
    background-color: hsla(0, 0%, 0, 1.0);
    background-size: cover;
    color: hsla(0, 0%, 100%, 1.0);
    transition: background-image 2s ease-in-out;
    transition: color 2s ease-in-out;
    background-position: 50% 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 800px;
    padding: rhythm(1, ms(0, $base-font-size)) 0;

    h1 {
        margin: 0;
        display: block;
        @include container($sitewidth);
    }

    &.morning {
        background-image: url("/backgrounds/tammerkoski.jpg");
    }

    &.evening {
        background-image: url("/backgrounds/itsenaisyydenkatu.jpg");
    }

    &.night {
        background-image: url("/backgrounds/amsterdam.jpg");
    }
}
