main {
    @include container($sitewidth);
}

.nav--main {
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 900px) {
    article {
        margin: 0 auto;
        width: 100%;
        padding: 0 2em;
    }

}

@media screen and (max-width: 480px) {
    body {
        font-size: 90%;
    }

    h1 {
        font-size: 3.75em;
        line-height: 0.929em;
    }

    p {
        font-size: 16px;
    }

    p.pullquote {
        font-size: 16px;
    }

}