main {
    @include site-wide-thing;
}

.pagination {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;

    li {
        margin: 0 0.5em;
    }
}
