.nav--main {
    @include adjust-font-size-to(ms(2, $base-font-size));
}

.nav__links {
    margin: 1rem 0.25rem;
}

.midnightHeader.default,
.midnightHeader.header-night {
    a, a:active, a:visited {
        color: $accent-pink;
    }
}

.midnightHeader.header-morning,
.midnightHeader.header-evening {
    a, a:active, a:visited {
        color: $accent-yellow;
    }
}

.midnightHeader.body {
    a, a:active, a:visited {
        color: $accent-yellow;
    }
}
