.post__title {
    position: relative;
}

.post__title__link {
    text-decoration: none;
    color: $text-color;

    &:hover:after {
        content: '»';
        color: $text-color-x-light;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: -0.75em;
    }
}

.post__content {
    margin-top: rhythm(2, ms(1, $base-font-size));
}

.post__meta {
    @include container($sitewidth + 4rem);
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}
