.post__title {
    position: relative;
}

.post__title__link {
    text-decoration: none;
    color: $text-color;

    &:hover:after {
        content: '»';
        color: $text-color-x-light;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: -0.75em;
    }
}

.post__content {
    padding-top: rhythm(2, ms(1, $base-font-size));

    & > p,
    & > ul,
    & > ol,
    & > dl,
    & > blockquote {
        margin-top: 2em;

        &:first-child {
            margin-top: 0;
            font-style: italic;
            @include adjust-font-size-to(ms(0.25, $base-font-size), 1);
        }
    }

    .highlight {
        color: rgb(255, 255, 255);
    }
}

.post__meta {
    @include site-wide-thing;
    text-align: center;
}
