small, .font_small {
    @include adjust-font-size-to(0.707rem);
}

body {
    @include adjust-font-size-to(1rem);
    font-family: 'Linden Hill';
}

h1 {
    font-family: 'Raleway';
    @include adjust-font-size-to(5.063rem);
    margin: rhythm(3, 5.063rem) 0 rhythm(1, 5.063rem);
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'League Spartan';
    @include adjust-font-size-to(2.25rem);
    margin: rhythm(3, 2.25rem) 0 rhythm(1, 2.25rem);
}

h3 {
    @include adjust-font-size-to(1.5rem);
    margin: rhythm(2, 1.5rem) 0 rhythm(1, 1.5rem);
    font-family: 'League Spartan';
}

h4 {
    font-family: 'League Spartan';
    @include adjust-font-size-to(1rem);
    margin: rhythm(2, 1rem) 0 rhythm(1, 1rem);
}

p {
    //margin-bottom: 1.3em;
}
