@import "modular-scale";
@import "compass/typography/vertical_rhythm";

$ms-base: $base-font-size;
$ms-ratio: $golden;

@include establish-baseline;

small, .font_small {
    @include adjust-font-size-to(ms(-1, $base-font-size));
}

body, p {
    @include adjust-font-size-to(ms(0, $base-font-size));
    font-family: 'Linden Hill';
}

h1 {
    font-family: 'Raleway';
    @include adjust-font-size-to(ms(3, $base-font-size));
    margin: rhythm(3, ms(3, $base-font-size)) 0 rhythm(1, ms(3, $base-font-size));
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'League Spartan';
    @include adjust-font-size-to(ms(2, $base-font-size));
    margin: rhythm(2, ms(2, $base-font-size)) 0 rhythm(1, ms(2, $base-font-size));
}

h3 {
    @include adjust-font-size-to(ms(1, $base-font-size));
    margin: rhythm(2, ms(1, $base-font-size)) 0 rhythm(1, ms(1, $base-font-size));
    font-family: 'League Spartan';
}

h4 {
    font-family: 'League Spartan';
    @include adjust-font-size-to(ms(0, $base-font-size));
    margin: rhythm(2, ms(0, $base-font-size)) 0 rhythm(1, ms(0, $base-font-size));
}

blockquote {
    padding-left: 10px;
    border-style: solid;
    border-left-width: 3px;
    color: $text-color-light;
}

.highlight {
    padding: rhythm(1, ms(0, $base-font-size)) * 0.5;
    margin: rhythm(1, ms(0, $base-font-size)) * 0.5 0;
    font-family: 'Source Code Pro', ;
}

ul {
    list-style-type: disc;
    padding-left: 2em;
}

ol {
    list-style-type: decimal;
    padding-left: 2em;
}
