<!DOCTYPE html>
<html>
    {{ partial "htmlhead.html" . }}
    <body class="pure-g">
        {{ partial "header.html" . }}
        {{ partial "nav.html" . }}
        <main class="pure-u-20-24 pure-u-md-3-5 pure-u-lg-12-24 pure-u-xl-2-5" id="content-wrapper" data-midnight="body">
            {{ range (.Paginate (where .Data.Pages "Section" "blog")).Pages }}
                {{ .Render "summary" }}
            {{ end }}
            {{ template "_internal/pagination.html" . }}
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
