<!DOCTYPE html>
<html>
    {{ partial "htmlhead.html" . }}
    <body>
        {{ partial "nav.html" . }}
        <article class="post post--single">
            <header class="page-header post__header" id="header-with-changing-background">
                <h1 class="post__title">{{ .Title }}</h1>
                <aside class="post__meta">
                    {{ partial "postmeta.html" . }}
                </aside>
            </header>

            <main class="post__content">
                {{ .Content }}
            </main>
        </article>
        {{ partial "footer.html" . }}
    </body>
</html>
