<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="About me and the things I think and do.">
    <meta property="og:title" content="{{ if not .IsHome }}{{ .Title }} &mdash; {{ end }}{{ .Site.Title }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    {{ if .IsPage }}
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ .Summary }}">
    {{ with .Site.Params.twitter }}
    <meta property="og:article:author" content="http://twitter.com/{{ . }}">
    {{ end }}
    <meta property="og:article:published_time" content="{{ .Date.Format "2000-01-01T12:00:00Z00:00" | safeHTML }}">
    {{ range .Params.tags }}
    <meta property="og:article:tag" content="{{ . }}">
    {{ end }}
    {{ else }}
    <meta property="og:type" content="website">
    {{ end }}

    <meta name="superfish" content="nofish">

    <title>{{ if not .IsHome }}{{ .Title }} &mdash; {{ end }}{{ .Site.Title }}</title>

    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    <link rel="stylesheet" href="//cdn.jsdelivr.net/g/pure@0.6.0(base-min.css+grids-min.css+forms-min.css+grids-responsive-min.css)">

    <!-- <link href="/css/print.css" media="print" rel="stylesheet" type="text/css"> -->
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/zenburn.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.midnight/1.1.0/midnight.jquery.min.js"></script>

    <script src="/js/bundle.js"></script>

    <!--[if IE]>
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css">
    <![endif]-->
</head>
