{{ if and (isset .Params "categories") (isset .Params "tags") }}
{{ with $cats := .Params.categories }}
{{ range $index, $cat := $cats }}{{ partial "categorylink" $cat }}, {{ end }}
{{ end }}
{{ with $tags := .Params.tags }}
{{ range $index, $tag := $tags }}{{ partial "taglink" $tag }}, {{ end }}
{{ end }}
a
{{ else if isset .Params "categories" }}
{{ with $cats := .Params.categories }}
{{ range $index, $cat := $cats }}{{ partial "categorylink" $cat }}, {{ end }}
{{ end }}
a
{{ else if isset .Params "tags" }}
{{ with $tags := .Params.tags }}
{{ range $index, $tag := $tags }}{{ partial "taglink" $tag }}, {{ end }}
{{ end }}
{{ else }}
A
{{ end }}
{{ .ReadingTime }} minute read from {{ .Date.Format "Monday, _2 Jan 2006" }}.
